/* @import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); */

body {
  font-size: 17px;
  font-family: "Lato", sans-serif;
}

header,
main,
footer {
  max-width: 760px;
  margin: auto;
}

main {
  padding: 1.5rem 2rem;
}

header {
  background-color: #1D691A;
  padding: 1.5rem;
}

footer {
  background-color: #1D691A;
  padding: 1.5rem;
  text-align: center;
  color: whitesmoke;
}

img {
  box-shadow: 5px 5px 10px black;
  max-width: 150px;
  margin: 1em;
}

h1 {
  font-family: "Lato", sans-serif;
  color: whitesmoke;
  text-shadow: black 2px 2px;
}

h2 {
  border-bottom: 2px solid black;
}

footer p a {
  color: yellow;
}

.update-info {
  color: yellow;
}
