@media only screen and (min-width: 35rem) {
  body {
    font-size: 16px;
  }

  header img {
    max-width: 400px;
  }

  header h3 {
    font-size: 25px;
  }

  main {
    max-width: 960px;
    display: block;
    margin: 0 auto;
  }

  .weather-summary {
    right: 5%;
  }

  .five-day {
    display: block;
  }

  .preston-article img {
    float: right;
    margin: 1.5rem;
  }

  .forecast-info {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: black solid 1px;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.5rem;
  }

  .map-img {
    display: block;
    max-width: 300px;
    justify-self: center;
  }

  footer {
    font-size: 16px;
  }
}
